body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.profile-section {
    background-color: rgba(124, 122, 122, 0.212);
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(213, 213, 214, 0.1);
    
   
   h1{
    color: #0f014e;
    margin-bottom: 10px;
    text-align: center;
    text-align:top ;
    margin-top: 5px;
    font-size: 35px;
    }

   h2{
    color: #311010cc;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-align:top ;
    text-align:center;
    font-size: 29px;
    margin-top: 5px;
    
    }

    h3{
    color: #922424ee;
    padding: 1px;
    margin-bottom: 10px;
    text-align: center;
    text-align:top ;
    text-align:center;
    font-size: 29px;
    margin-top: 5px;
    
    }
}

.objective-section{
    background-color: rgba(191, 255, 0, 0.048);
    padding: 30px;
    margin-bottom: 55px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1{
        text-align: center;
        color: rgb(1, 16, 82);
    }



    h3{
        font-weight: normal;
        color: rgb(63, 1, 1);
        font-size: 25px;
        font-weight: bold;
        
    }
}

.education-section{
    background-color: rgba(214, 255, 214, 0.322);
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    h1{
        text-align: center;
        color: rgb(1, 16, 82);
    }

    h3{
        font-weight: normal;
        color: rgb(63, 1, 1);
        font-size: 20px;
        font-weight: bold;


      
        
    }
}

.skills-section{
    background-color: rgba(252, 0, 0, 0.055);
    padding: 50px;
    margin-bottom: 50px;
    li{
        color: rgb(66, 1, 1);
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1{
        text-align: center;
        color: rgb(1, 16, 82);
    }
}

.contact-section{
    background-color: rgba(17, 0, 255, 0.178);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section h1{
    text-align: center;
    color: rgb(1, 10, 83);
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;     
}

.contact-section fieldset {
    width: 80%;            
    margin: 10px 0;    
}

.contact-section div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h4{
    color: #1d0101;
    margin-bottom: 10px;
    text-align: center;
    text-align:top ;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
}
